.videoPlayer {
  position: relative;
  width: 800px;
  height: auto;
  display: block;
  margin: 75px auto;
}

.controls {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 5px;
  left: 0px;
  width: 100%;
  padding: 8px 10px 8px 10px;
  background: rgba(30, 30, 30, .75);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.videoPlayer:hover > .controls {
  visibility: visible;
  opacity: 1;
}

video::-webkit-media-controls-enclosure {
  display:none !important;
}
